<div class="dashboard-container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <app-card descricao="Total clientes" [numero]="qtdClientes">
        <i class="material-icons" style="color: #007bff">people</i>
      </app-card>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-card descricao="Clientes devendo" [numero]="valorCardClientesDevedores()">
        <i class="material-icons" style="color: #f3bb45">warning</i>
      </app-card>
    </div>
    <div class="col-lg-4 col-md-6">
        <app-card descricao="Perdendo..." numero="R$ 238,00">
          <img src="assets/img/lose-money.png" width="54" height="54" />
        </app-card>
      </div>
  </div>
</div>
