<div class="my-card">
  <div class="row">
    <div class="col-3">
      <div class="my-icon-big text-center">
        <ng-content select="[icon]"></ng-content>
      </div>
    </div>
    <div class="col-9">
      <div class="numbers">
        <p>{{ descricao }}</p>
        {{ numero }}
      </div>
    </div>
  </div>
  <div class="footer">
    <hr />
    <div class="actions">
      <ng-content select="[button]"></ng-content>
      <app-more-actions [actions]="actions"></app-more-actions>
    </div>
  </div>
</div>
