<div class="container">
  <h1>Registrar pagamento</h1>

  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Referente a</label>
        <select  class="form-control">
          <option>JANEIRO</option>
        </select>
      </div>

      <div class="form-group col-md-6">
          <label>Valor</label>
          <input type="text" class="form-control" />
        </div>
    </div>

    <div class="form-group">
      <label>Cliente</label>
      <select class="form-control">
        <option>Selecione</option>
      </select>
    </div>

    <button type="button" class="btn btn-primary btn-block">Salvar</button>
  </form>
</div>