<div class="container">
  <h1>Histórico de pagamento</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <mat-form-field style="width:100%">
          <input type="text" placeholder="Cliente" [(ngModel)]="clienteResumoSelecionado"
            matInput [formControl]="myControl" [matAutocomplete]="auto" />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
            (optionSelected)="consultarHistorico()">
            <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
              {{ cliente.nome }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group col-md-1"></div>
      <div class="form-group col-md-5 mes-inicio" *ngIf="clienteResumoSelecionado">
        <span>Mês de início: {{ mesInicio }}</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <table mat-table [dataSource]="mensalidades" class="mat-elevation-z2 full-width" >
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <ng-container matColumnDef="mes">
            <th mat-header-cell *matHeaderCellDef> Mês </th>
            <td mat-cell *matCellDef="let mensalidade">{{ mesesDoAno[mensalidade.mes-1].nome }}</td>
          </ng-container>

          <ng-container matColumnDef="valorPago">
            <th mat-header-cell *matHeaderCellDef> Valor pago </th>
            <td mat-cell *matCellDef="let mensalidade">R$ {{ mensalidade.valorPago | number:'1.2-2' }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="col-center"> Status </th>
            <td mat-cell *matCellDef="let mensalidade" class="col-center">
              <i class="pi pi-check-circle" style="font-size: 2em; color: #28a745;"
                *ngIf="mensalidade.status === 'OK'" [pTooltip]="mensalidade.status"></i>
              <i class="pi pi-times-circle" style="font-size: 2em; color: #dc3545;"
                *ngIf="mensalidade.status === 'DEVENDO'" [pTooltip]="mensalidade.status"></i>
            </td>
          </ng-container>
        </table>
      </div>
    </div>
  </form>
</div>
