.table-valor-pago {
    text-align: right;
}

.table-header {
    text-align: center;
}

.col-center {
    text-align: center;
}

.mes-inicio {
  display: flex;
  align-items: center;
  font-size: 18px;
}
